@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <title>Dziękujemy | Urodziny K</title>
</head>
<body>
    <div>
        <center>
            <p>
                <h1>Dziękujemy, @Model.Name</h1>
                @if (Model.WillAttend == true)
                {
                    @:Cieszymy się, że przyjdziesz.
                }
                else
                {
                    @:Przykro nam, że Cię nie będzie.
                }
            </p>
            <p>
                Kliknij <a asp-action="ListResponses">tutaj</a>, aby wyświetlić listę gości.
            </p>
        </center>
    </div>
</body>
</html>